<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="TransactionProcessingSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="TransactionProcessingSoap1" />
                <binding name="TransactionReportingSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="TransactionReportingSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://ws.eps.profitstars.com/PV/TransactionProcessing.asmx"
                binding="basicHttpBinding" bindingConfiguration="TransactionProcessingSoap"
                contract="ServiceReference1.TransactionProcessingSoap" name="TransactionProcessingSoap" />
            <endpoint address="https://ws.eps.profitstars.com/PV/TransactionReporting.asmx"
                binding="basicHttpBinding" bindingConfiguration="TransactionReportingSoap"
                contract="TransactionReportingService.TransactionReportingSoap"
                name="TransactionReportingSoap" />
        </client>
    </system.serviceModel>
</configuration>